<div>
  <h2 id="page-heading" data-cy="ArticleHeading">
    <span jhiTranslate="erpgestionApp.article.home.title">Articles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="erpgestionApp.article.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-article"
        [routerLink]="['/article/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpgestionApp.article.home.createLabel"> Create a new Article </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="articles?.length === 0">
    <span jhiTranslate="erpgestionApp.article.home.notFound">No articles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="articles && articles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="idArticle">
            <span jhiTranslate="erpgestionApp.article.idArticle">Id Article</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomArticle">
            <span jhiTranslate="erpgestionApp.article.nomArticle">Nom Article</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rayon">
            <span jhiTranslate="erpgestionApp.article.rayon">Rayon</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rayonnier">
            <span jhiTranslate="erpgestionApp.article.rayonnier">Rayonnier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="erpgestionApp.article.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="quantite">
            <span jhiTranslate="erpgestionApp.article.quantite">Quantite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pu"><span jhiTranslate="erpgestionApp.article.pu">Pu</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="famille.id">
            <span jhiTranslate="erpgestionApp.article.famille">Famille</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inventaire.nomArticle">
            <span jhiTranslate="erpgestionApp.article.inventaire">Inventaire</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fournisseur.nomFournisseur">
            <span jhiTranslate="erpgestionApp.article.fournisseur">Fournisseur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="commande.description">
            <span jhiTranslate="erpgestionApp.article.commande">Commande</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let article of articles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/article', article.id, 'view']">{{ article.id }}</a>
          </td>
          <td>{{ article.idArticle }}</td>
          <td>{{ article.nomArticle }}</td>
          <td>{{ article.rayon }}</td>
          <td>{{ article.rayonnier }}</td>
          <td>{{ article.description }}</td>
          <td>{{ article.quantite }}</td>
          <td>{{ article.pu }}</td>
          <td>
            <div *ngIf="article.famille">
              <a [routerLink]="['/famille', article.famille?.id, 'view']">{{ article.famille?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="article.inventaire">
              <a [routerLink]="['/inventaire', article.inventaire?.id, 'view']">{{ article.inventaire?.nomArticle }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="article.fournisseur">
              <a [routerLink]="['/fournisseur', article.fournisseur?.id, 'view']">{{ article.fournisseur?.nomFournisseur }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="article.commande">
              <a [routerLink]="['/commande', article.commande?.id, 'view']">{{ article.commande?.description }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/article', article.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/article', article.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(article)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
