<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-fournisseur-heading"
        data-cy="FournisseurCreateUpdateHeading"
        jhiTranslate="erpgestionApp.fournisseur.home.createOrEditLabel"
      >
        Create or edit a Fournisseur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="erpgestionApp.fournisseur.idFournisseur" for="field_idFournisseur"
            >Id Fournisseur</label
          >
          <input
            type="number"
            class="form-control"
            name="idFournisseur"
            id="field_idFournisseur"
            data-cy="idFournisseur"
            formControlName="idFournisseur"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="erpgestionApp.fournisseur.nomFournisseur" for="field_nomFournisseur"
            >Nom Fournisseur</label
          >
          <input
            type="text"
            class="form-control"
            name="nomFournisseur"
            id="field_nomFournisseur"
            data-cy="nomFournisseur"
            formControlName="nomFournisseur"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="erpgestionApp.fournisseur.raisonSociale" for="field_raisonSociale"
            >Raison Sociale</label
          >
          <input
            type="text"
            class="form-control"
            name="raisonSociale"
            id="field_raisonSociale"
            data-cy="raisonSociale"
            formControlName="raisonSociale"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="erpgestionApp.fournisseur.telephone" for="field_telephone">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="erpgestionApp.fournisseur.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
